/* $bgDefault   : #e74c3c; */
$bgDefault   : #333333;
/* $bgDefault   : #e92429; */
/* $bgHighlight : #c0392b; */
$bgHighlight : #4C4C4C;
$colDefault  : #B2B2B2;
/* $colHover    : #ffbbbc; */
$colHover    : #ecf0f1; 

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;    
}

#front-page {
    position: absolute;
    top: 80px;
    bottom: 0;
    width:100%;
    background: url(/images/crane_stamp_gray.png) no-repeat;
    background-size: cover;
    text-align: center;
    h1 {
        font-size: 6em;
    }
    p {
        font-size: 2em;
    }
    a {
        margin-top: 20px;
    }
    padding-left: 20px;
    padding-right:20px;
    .box {
        display: table;
        width: 100%;
        height: 80%;
    }
    .inner {
        display: table-cell;
        vertical-align: middle;
    }
    @media screen and (max-width: 450px) {
        h1 {
            font-size: 4em;
        }
        p {
            font-size: 1.5em
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.borderless tbody tr td, .borderless tbody tr th {
    border: none;
}

.large {
    font-size: 16px;
}

.pad-bottom {
    padding-bottom: 30px;
}

.narrow {
    max-width: 600px;
}

.footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    height: 40px;
    padding: 0px;
    line-height: 40px;
}

.transparent {
    background-color: transparent;
}

.table {
    font-size: 16px;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
}

.navbar-default {
    /* change the color of the navbar */
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
                     color: $colHover; }}
   .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover, &:focus {
                             color: $colHover; }}}
        .active {
            > a, > a:hover, > a:focus {
                                color: $colHover;
                                background-color: $bgHighlight; }}
        .open {
            > a, > a:hover, > a:focus {
                                color: $colHover;
                                background-color: $bgHighlight;
                                .caret {
                                    border-top-color: $colHover;
                                    border-bottom-color: $colHover; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault; }
                &:hover, &:focus {
                             .caret {
                                 border-top-color: $colHover;
                                 border-bottom-color: $colHover; }}}}}
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
                     background-color: $bgHighlight; }
        .icon-bar {
            background-color: $colDefault; }}}

@media (min-width: 767px) {
    /* make the navbar taller when not collapsed */
    .navbar-static-top {
        min-height: 80px; }
    .navbar-default {
        .navbar-brand {
            padding-top: 0px;
            padding-bottom: 0px;
            line-height: 80px; }
        .navbar-nav {
            > li {
                > a {
                    padding-top: 0px;
                    padding-bottom: 0px;
                    line-height: 80px; }}}}
    .footer {
        font-size: 16px; }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $colDefault;
        &:hover, &:focus {
                     color: $colHover;
                     background-color: $bgHighlight; }}
    .cranes {
        font-size: 12px; }
    
    .footer {
        font-size: 12px; }
}

